@import "../../../../variable";

.contact-us-wrapper {
    
    padding: 0px 13px;
    .col-sm-8 {
        background-color: $primary-color;
        color: #fff;
        padding-top:20px;
        padding-bottom: 20px;
        p {
            color: #fff;
            font-family: 'National-Light';
            font-size: 16px;
            font-weight: 300;
            letter-spacing: .59px;
            max-width: 700px;
            margin: auto;
            text-align: center;
            margin: 0 auto;
        }
    }

    > .row {
        background-color: $secondary-color-lighter;
    }
    .max-300 {
        max-width: 700px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .contact-us-wrapper {
        max-height: 500px;
        overflow: auto;
    }
}