::ng-deep { 
    
    .news-letter-form {
        background-color: #2d2d2d;
        color: white;
        border-bottom: 1px solid white;
        padding-top: 30px;
        padding-bottom: 20px;
        color: #fff;
        font-family: 'National-Light';
       

            .title {
                color: #fff;
                font-family: 'National-Light';
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 1.6px;
                text-transform: uppercase;
                margin-right: 13px;
                font-weight: 700;
                position: relative;
                top: 10px;
            }
        
            .flex {
                display: flex;
            }
        
            label {
                min-width: 70px;
            }

    }
    

}