<div class="row financial-wrapper">
    <div class="col-sm-9">
        <div style="background-image: url('../../../../assets/video-img.png')" class="bg-video"></div>
    </div>
    <div class="col-sm-3 padding">
        <h2 class="subtitle">Financial and GST </h2><br/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud .</p>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>